@tailwind base;

@tailwind components;

@tailwind utilities;

.h1 {
  @apply text-2xl font-medium;
}

.h2 {
  @apply text-xl font-medium;
}

.h3 {
  @apply text-xl font-medium;
}

.btn--main {
  @apply p-3 font-medium rounded-xl bg-blue-600 text-white hover:bg-blue-500;
}

.btn--main--disabled {
  @apply p-3 font-medium rounded-xl bg-blue-700 text-white cursor-not-allowed;
}

.btn--secondary {
  @apply p-3 font-medium rounded-xl border-blue-500 text-blue-500 bg-transparent;
}

.btn--secondary:hover {
  @apply bg-blue-500 text-white;
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
   0% { opacity: 1; }
   100% { opacity: 0; }
 }